body{
    background-color: rgb(177, 177, 177);
    font-family: 'Cairo', sans-serif;
    color:black;
    max-width: 100%;
    align-items: center;
}

button{
    border-radius: 5px;
}

nav{
  min-width: 100%;
}
app{
    display:inline-block;
}
nav a{
    border: 1px solid rgb(225, 225, 225);
    border-radius: 3px;
    padding: 10px;
    background-color: rgb(189, 228, 237);
}
body{
    justify-items: center;
}
#app{
    align-content: justify;
}
.books ul{
    display: grid;
    grid-template-areas: "li li li li";
    column-gap: 5px;
    row-gap: 5px;
    justify-content: space-between;
    list-style: none;
}

.book{
    padding: 5px;
    background-color: rgb(189, 228, 237);
    
}


